/*
The Name: boomer
Author: Davide Bombardier
Description: A Base Theme for Boomer website
Version: 1.0
*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: 'Open Sans';
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	color: #404040;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	min-width:1000px;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

a:link, a:visited, a:hover, a:active {text-decoration: none; color: black;}

/*------------------------------------------------------------------
/* General Settings
/*------------------------------------------------------------------
*/
html {background-color: #ffffff; min-width: 1000px;}
#colored-line-header, #colored-line-footer, #main-container-colored, #homepage-top img, #homepage-top .slogan {min-width: 1000px;}
.hfeed, .footer-container, header {width: 1000px; margin: auto;}
#admin-line {display: none;}

/*------------------------------------------------------------------
/* Header Settings
/*------------------------------------------------------------------
*/
#colored-line-header {
	background-color: rgba(255,255,255,0.7);
	width: 100%;
	height: 100px;
	position: absolute;
	left: 0px;
	top: 0px;
}
header {position: absolute; top: 0px;}
.logo img {margin-top: 24px;}
.menu {position: absolute; right: 0px; top: 25px; line-height: 1;}
.menu div { font-size: 20px;}
.menu .menu-item {margin-left: 50px; height:50px; text-align: right
	/* Firefox */
	display:-moz-inline-box;
	-moz-box-align:center;

	/* Safari, Chrome, and Opera */
	display:-webkit-inline-box;
	-webkit-box-align:center;

	/* W3C */
	display:inline-box;
	box-align:center;
}
.menu .sub-menu {
	display: none;
}


/*------------------------------------------------------------------
/* Footer Settings
/*------------------------------------------------------------------
*/
#colored-line-footer {
	background: url('../images/footer-back.png');
	width: 100%;
	height: 300px;
	margin-top: 75px;
	position: absolute;
	left: 0px;
}
footer {
	margin-top: 75px;
	position: absolute;
}
footer div {color: #ccc;}
footer a:active, footer a:visited, footer a:hover, footer a:link {
	color: #ccc;
}
.site-map {float: left;}
.menu-site-map {float: left; margin-top: 30px; margin-right: 60px;}
.menu-site-map .sons {margin-top: 20px;}
.right {position: absolute; top: 75px; right: 0px;}
.menu-site-map .title {font-size: 20px;}
.menu-site-map .element {font-size: 13px; margin: 5px 0;}
.social img {margin: 10px;}
.colophon {font-size: 13px; text-align: center;}

/*------------------------------------------------------------------
/* Homepage Style
/*------------------------------------------------------------------
*/
#main-container-colored {position: absolute; left: 0px; top: 500px; width: 100%; background-color: #fff; height: 101%; z-index: -1;}
.homepage-main {margin-top: 500px; background-color: #fff;}
#homepage-top img {width: 100%; position: absolute; top: 0; left: 0; z-index: -1;}
#homepage-top .slogan {position: absolute; width: 100%; text-align: center; top: 375px; font-size: 30px; color: white; left: 0px; text-shadow: 1px 1px 1px black;}
.homepage-content {margin-top: 520px;}
.desc-line {text-align: center; margin: 20px;}
.desc-line .title-description {font-size: 22px; margin: 15px 0px;}
.desc-line .text-description {margin: 0px 30px 20px 30px;}

.circle-line {float:left; width: 100%}
.circle-line .circle {float: left; border-radius: 1000px; width: 120px; height: 120px; text-align: center; margin: 20px 65px 0px 65px;}
#first-circle {background-color: #4eb9f4}
#second-circle {background-color: #6fc125}
#third-circle {background-color: #ff5649}
#fourth-circle {background-color: #e38f23}
.circle img {margin-top: 8px;}
.circle .desc {font-size: 15px; font-weight: bold;}

.elements-container {clear: both;}
.elements-container .element {padding-top: 75px; clear: both; height: 116px;}
.elements-container img {float: left; width: 175px;}
.elements-container .description {float: left; width: 800px; margin-left: 25px; text-align: justify;}
.elements-container .description .title {font-size: 20px; margin-bottom: 5px;}

/*------------------------------------------------------------------
/* General Page Style
/*------------------------------------------------------------------
*/
.content-image {margin-top: 100px;}
.content-post {float: left; margin-top: 30px;}
.content-post .lateral-menu, .content-post .news-bar, .content-post .promo-bar {width: 200px; float: left;}
.content-post .content {width: 800px; min-height: 200px; float: left;}
.script-post {clear: both;}
.content .titolo {font-size: 20px; text-align: center;}
.content .text {padding: 0px 20px; margin-top: 20px;}
.content .promo-date {text-align: center}

.lateral-menu .title, .news-bar .title, .promo-bar .title {font-size: 18px; text-align: center; height: 40px; border-bottom: 1px solid #404040; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}
.lateral-menu .menu-item, .news-bar .news-item, .promo-bar .news-bar {margin: 10px; font-size: 16px; border-bottom: 1px solid #ccc; padding: 0px 0px 5px 10px;}

.news-element .element-title, .promo-element .element-title {font-size:17px; text-align: center; margin-top: 10px;}
.news-element .element-data, .promo-element .element-data {font-size:10px; text-align: center;}
.news-element .element-content, .promo-element .element-content {padding: 0px 10px 10px 10px; max-height: 30px; overflow: hidden; margin: 5px 10px; border-bottom: 1px solid #ccc; text-overflow: ellipsis;}